{{define "content"}}
    <div class="grid-container">
        <div class="grid-y grid-padding-y">
            <div class="cell">
                <h1 class="text-center header_h1">Uncletopia</h1>
            </div>
            <div class="cell" id="servers">
                <div class="grid-y grid-padding-y">
                    {{ range  .servers }}
                        <div class="cell">
                            <h3 class="text-center">{{ .Region }}</h3>
                        </div>
                        {{ range  .Servers }}
                            {{ if ne .State.ServerName "" }}
                                <div class="cell server_info" data-toggletarget="status_{{ .Host }}{{ .Port }}">
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-1">
                                            <img src="/dist/images/flag-{{ .CountryCode }}.png">
                                        </div>
                                        <div class="cell medium-4">
                                            <h5>{{ .State.ServerName }}</h5>
                                        </div>
                                        <div class="cell medium-2 text-center">
                                            <h6>{{ .State.Map }}</h6>
                                        </div>
                                        <div class="cell medium-2 text-center">
                                            <h6>{{ .State.PlayersCount }} / 24</h6>
                                        </div>
                                        <div class="cell medium-3 text-center">
                                            <a class="connect_link round"
                                               href="steam://connect/{{ .Host }}:{{ .Port }}">Connect</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell player_info hide" id="status_{{ .Host }}{{ .Port }}">
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-6">
                                            <h6>Player</h6>
                                        </div>
                                        <div class="cell medium-3">
                                            <h6>Connected</h6>
                                        </div>
                                        <div class="cell medium-3">
                                            <h6>Ping</h6>
                                        </div>
                                    </div>
                                    {{ range .State.Players }}
                                        <div class="grid-x grid-padding-x">
                                            <div class="cell medium-6">
                                                <a class="map_link"
                                                   href="https://steamcommunity.com/profiles/{{ .SID }}">{{ .Name }}</a>
                                            </div>
                                            <div class="cell medium-3">
                                                <p>{{ .ConnectedTime }}</p>
                                            </div>
                                            <div class="cell medium-2">
                                                <p>{{ .Ping }} ms</p>
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{end}}
                        {{end}}
                    {{ end }}
                </div>
            </div>
            <div class="grid-x grid-padding-x map_list">
                <div class="cell" style="margin-top: 1em; margin-bottom: 1em">
                    <h2 class="text-center">Map List</h2>
                </div>
                <div class="cell medium-3">
                    <h4 class="text-center">Payload</h4>
                    <ul class="map_list">
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Badwater_Basin">Badwater</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Barnblitz">Barnblitz</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Borneo">Borneo</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Frontier">Frontier</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Pier">Pier</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Snowycoast">Snowycoast</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Swiftwater">Swiftwater</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Upward">Upward</a>
                        </li>
                    </ul>
                </div>
                <div class="cell medium-3">
                    <h4 class="text-center">Control Point</h4>
                    <ul class="map_list">
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Granary">Granary</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Gullywash">Gullywash</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Metalworks">Metalworks</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Process">Process</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Sunshine">Sunshine</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Snakewater">Snakewater</a>
                        </li>
                    </ul>
                </div>
                <div class="cell medium-3">
                    <h4 class="text-center">KOTH</h4>
                    <ul class="map_list">
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Highpass">Highpass</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Kong_King">Kong King</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Lakeside">Lakeside</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Lazarus">Lazarus</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Sawmill">Sawmill</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Suijin">Suijin</a>
                        </li>
                        <li class="text-center">
                            <a class="map_link" href="https://wiki.teamfortress.com/wiki/Viaduct">Viaduct</a>
                        </li>
                    </ul>
                </div>
                <div class="cell medium-3">
                    <h4 class="text-center">Attack/Defend</h4>
                    <ul class="map_list">
                        <li class="text-center"><a class="map_link" href="https://wiki.teamfortress.com/wiki/Dustbowl">Dustbowl</a>
                        </li>
                        <li class="text-center"><a class="map_link" href="https://wiki.teamfortress.com/wiki/Gorge">Gorge</a>
                        </li>
                        <li class="text-center"><a class="map_link"
                                                   href="https://wiki.teamfortress.com/wiki/Mercenary_Park">Mercenary
                                Park</a>
                        </li>
                        <li class="text-center"><a class="map_link"
                                                   href="https://wiki.teamfortress.com/wiki/Mossrock">Mossrock</a>
                        </li>
                        <li class="text-center"><a class="map_link"
                                                   href="https://wiki.teamfortress.com/wiki/Mountain_Lab">Mountain
                                Lab</a>
                        </li>
                        <li class="text-center"><a class="map_link" href="https://wiki.teamfortress.com/wiki/Steel">Steel</a>
                        </li>
                    </ul>
                </div>

                <div class="cell rules">
                    <h2 class="text-center" style="margin-top: 1em; margin-bottom: 1em">Server Details</h2>
                    <h5 class="text-center">No random crits</h5>
                    <p class="text-center">No weapon can randomly crit on Uncletopia. This makes for more fair player
                        interaction and
                        encourages skill.</p>

                    <h5 class="text-center">No random bullet spread</h5>
                    <p class="text-center">Shotguns and Scatter Guns have fixed spread patterns. This makes the damage
                        output of these
                        weapons consistent.</p>

                    <h5 class="text-center">Class limits (3)</h5>
                    <p class="text-center">Each team can only have three of one class at a time. This makes team
                        composition more
                        balanced.</p>

                    <h5 class="text-center">High Ping Limit</h5>
                    <p class="text-center">If you have more than 180 ping for more than 1 minute, you will be
                        automatically kicked from the server. This makes it so players will not have to play
                        against latent opponents. If there are less than 20 players on the server,
                        this rule does not apply to help with seeding.</p>

                    <h5 class="text-center">Sprays disabled</h5>
                    <p class="text-center">Sprays are not able to be seen on Uncletopia. This is to prevent
                        inappropriate images from being
                        displayed.</p>

                    <h5 class="text-center">Teammate player collision disabled</h5>
                    <p class="text-center">When you bump into another teammate on Uncletopia, neither of your respective
                        player models
                        will be moved. This is to prevent griefing.</p>

                    <h5 class="text-center">Round start explosive jumping enabled</h5>
                    <p class="text-center">In Valve servers, you are unable to explosive jump at the beginning of the
                        round. In Uncletopia,
                        you are able to do so. This is to encourage skillful rollouts.</p>

                    <h5 class="text-center">Voting to change map enabled</h5>
                    <p class="text-center">RTV (rock the vote) is a sourcemod plugin that allows players to initiate
                        server-wide vote to
                        change the map. Type either “!rtv” or “rtv” to vote.</p>

                    <h5 class="text-center">Voting to scramble teams enabled (thanks HiGPS!)</h5>
                    <p class="text-center">You can type <kbd>!vscramble</kbd> to vote to scramble the teams after the
                        round ends. At least
                        8 players need to vote in order to scramble teams.</p>

                    <h5 class="text-center">sv_pure 1 enabled</h5>
                    <p class="text-center">You are able to use custom first-person viewmodel animations on
                        Uncletopia.</p>

                    <h5 class="text-center">No bots (except that scout running at you)</h5>
                    <p class="text-center">Uncletopia will never seed the server with player bots. Cheater bots only
                        really join Casual
                        Mode, so it is extremely unlikely you will encounter them in community servers. If you wish to
                        report a player for suspicious activity, please ping an Uncletopia mod on <a
                                href="https://www.discord.gg/uncledane">Discord</a>.</p>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <div class="callout">
                        <h4 class="text-center"><small>Find an issue, or have a suggestion for Uncletopia?<br> Please
                                <a href="https://github.com/leighmacdonald/uncletopia/issues/new/choose">submit a ticket</a> and
                                we will look into it ASAP</small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "title"}}Uncletopia Servers{{end}}
